.signUpHolder {
    font-size: 40px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUp {
    width: 35%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signUp .title {
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.signUp .form {
    width: 100%;
}

.signUp .input {
    margin-bottom: 0.5em;
    font-size: 0.5em;
    display: block;
    background-color: #F5F5F5;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    width: 100%;
    height: 1.6em;
}

.signUp .passwordHolder {
    display: flex;
    align-items: center;
    width: 100%;
}

.signUp .imageHolder {
    cursor: pointer;
    align-items: center;
    display: flex;
}

.signUp .imageHolder .passwordImage {
    height: 0.8em;
    width: 0.8em;
    margin-left: 0.2em;
    padding: 0px;
    display: flex;
    align-items: center;
}



.signUp .passwordInput {
    flex: 1;
    font-size: 0.5em;
    background-color: #F5F5F5;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 0.5em;
    height: 1.6em;
}

.signUp .forgotPassowrd {
    color: black;
    text-decoration: none;
    font-size: 0.5em;
}

.signUp .signInButton {
    padding: 0.2em;
    margin: 0.8em 0px;
    width: 100%;
    font-size: 0.7em;
    border-radius: 30px;
    background-color: #39f735;
    color: white;
    cursor: pointer;
}

.signUp .signInButton:hover {
    opacity: 80%;
}

.newToMessageSender {
    font-size: 0.7em;
}

.newToMessageSender a {
    text-decoration: none;
    color: #39f735;
}

.signUp .orGoogle {
    font-size: 0.6em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.signUp .orGoogle span {
    background: #fff;
    padding: 0 10px;
}

.signUp .googleButton {
    color: #000;
    background-color: white;
}

@media only screen and (max-width: 1200px) {
    .signUp {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .signUpHolder {
        font-size: 36px;
    }
}

@media only screen and (max-width: 700px) {
    .signUp {
        width: 70%;
    }
}

@media only screen and (max-width: 420px) {
    .signUp {
        width: 80%;
    }

    .signUpHolder {
        font-size: 30px;
    }
}